<h1>New Place</h1>

<%= form_with model: @place, local: true do |f| %>
  <div>
    <%= f.label :name, "Place Name" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit "Create Place" %>
  </div>
<% end %>

<p>
  <%= link_to "â† Back to Places", places_path %>
</p>